/* App.css */

/* CSS for entire site */
body {
  background-color: #0c1222;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* CSS for unused sites */
#unusedh1 {
  text-align: center;
  margin-top: 100px;
}