/* CSS for login and register pages */

.login-container,
.register-container {
  background-color: #2c3e50;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.login-container h1,
.register-container h1 {
  margin-bottom: 1em;
  color: #ffffff;
}

.register-link,
.login-link {
  color: #ffffff;
  text-decoration: none;
  background-color: #4caf50;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.register-link:hover,
.login-link:hover {
  background-color: #45a049;
}

.login-container .input,
.register-container .input {
  width: calc(100% - 2em);
  padding: 0.75em;
  margin: 0.5em 0 1em 0;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 1em;
  color: #333;
}

.login-container label,
.register-container label {
  display: block;
  text-align: left;
  margin-bottom: 0.25em;
  color: #dddddd;
}

.login-form-button,
.register-form-button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form-button:hover,
.register-form-button:hover {
  background-color: #45a049;
}

.login-container a,
.register-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #45a049;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}
.login-container a:hover,
.register-container a:hover {
  background-color: #1a242f;
}