/* CSS for homepage*/
.homepage-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #2C3E50;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .homepage-links a:hover {
    background-color: #1A242F;
  }
  
  .content-container-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  