/* App.css */

/* CSS for entire site */
body {
  background-color: #0C1222;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CSS for homepage*/
.homepage-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #2C3E50;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.homepage-links a:hover {
  background-color: #1A242F;
}

.content-container-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Eliah CSS Case Opening */
#result {
  font-size: 24px;
  margin-top: 20px;
}

#case {
  width: 200px;
  height: 200px;
  border: 5px solid #000;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}

#case div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  animation: open-case 1s ease-in-out;
}

@keyframes open-case {
  0% {
    transform: rotateY(90deg) rotateX(90deg);
  }

  100% {
    transform: rotateY(0deg) rotateX(0deg);
  }
}

#rewardText {
  display: none;
}

/*Blackjack*/

.card-container {
  display: flex;
}

.card {
  margin-right: 10px;
}

.content-container-blackjack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
